
:root{
    --primaryColor:#B44dee;
    --accentColor:#f1f1f1;
    --darkColor:#2c203b;
}
body {
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: inherit;
    background-image: url('../Images/bg.jpg');
    background-size: cover;
    opacity: 0.6;
    filter: blur(1px);
    overflow: hidden;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    background: #492BA0;
    opacity: 0.5; 
    overflow: hidden;
}

.bg{
    object-fit: cover;
}
img{
    max-width: 25%;
    margin: auto;
}
h4{
    color: #492BA0;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 0.8rem;
}
input{
    color:#492BA0;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #492BA0;
}
button{
    color: white;
    background-color: #492BA0;
    border: none;
    border-radius: 2rem;
    padding: 0.4rem 0.8rem;
    width: 40%;
    font-size: 0.8rem;
    box-shadow: 1px 3px 5px 2px rgba(111, 110, 110, 0.27);
    transition: 0.2s ease-in-out;
    color: white;
}
button:active{
    box-shadow:none;
    transform: scale(0.9);
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 14px;
    padding-block: 3rem;
    margin-top: 5rem;
    margin-inline: auto;
    max-width: 320px;
    box-shadow: 0 0 2px 1px rgba(32, 32, 32, 0.572);
    background-color: var(--accentColor);
}
.InputContainer{
    display: flex;
    flex-direction:column;
    margin-block: 1.3rem;
}
:focus{
    outline: none;
}
.Bottomform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.Links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    gap: 4rem;
    font-size: 0.8rem;
}
.copyright{
    color: #492BA0;
    text-align: center;
    font-size: 0.7rem;
}
.logout{
    margin-left: 70rem;
    font-size: 0.8rem;
    margin-top: 1rem;
    color: #492BA0;
    font-weight: 400;
}
@media (max-width:600px) {
    .logout{
        margin: auto;
        margin-left:1rem;
        margin-top: 0.5rem;
        color: #492BA0;
    font-weight: 400;
        font-size: 0.8rem;
    }
}