:root {
    --color: #ffffff;
    --background: #9d9e9f;
  }

.SliderOpacity {
    background: black;
    min-height: 400px;
    width: 100%;
    position: relative;
    background-size: cover;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0, 0, 0, 0.427),rgba(0, 0, 0, 0.7)) , url('../Images/college.jpeg');
}
img{
    opacity:0.7;
}
.sliderCaption{
    font-size: 1.1rem;
    margin-bottom:10rem;
    font-weight:bold;
    letter-spacing: .03rem;
}
.sliderLowerCaption{
    font-size:.6rem;
}
@media (min-width:1200px) {
    .sliderCaption{
        margin-bottom:10rem;
        font-weight:bold;
        letter-spacing: .03rem;
        font-size: 2rem;
    }
    .sliderLowerCaption{
        font-size:1.3rem;
    }
}
.LatestAnnouncementOuter{
    height:45px;
    width:100%;
    background: rgb(238, 222, 222);
    display: flex;
}
.LatestAnnouncementCaption{
    width:55%;
    background: rgb(182, 12, 12);
    height:45px;
    font-weight: bold;
    color:aliceblue;
    font-size: 0.6rem;
}

@media (min-width:1200px) {
    .LatestAnnouncementCaption{
        width:15%;
        background: rgb(182, 12, 12);
        height:45px;
        font-size:1rem;
        line-height: 25px;
    }
    p{
        font-size: 0.8rem;
        font-weight: 600;
        padding-left: 1rem;
    }
}
.LatestAnnouncement{
    width:80%;
    height:45px;
    line-height: 45px;
}
.LatestAnnouncementTriangle{
    width: 20px;
    height: 32px;
    background-color:rgb(182, 12, 12);
    margin-top:0.4rem;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
}
.line{
    border-right: 2px solid rgb(251, 249, 249);
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 2px;
}
@media (max-width:450px) {
    .SliderOpacity{
        height: 350px;
    }
    .LatestAnnouncementCaption{
        font-size: 0.6rem;
    }
}